<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./index_test.css" />
    <title>ReID System</title>
  </head>

  <body>
    <!--    &lt;!&ndash; 标题栏 &ndash;&gt;-->
    <!--    <div class="header">-->
    <!--&lt;!&ndash;        <div class="sidebarControl">&ndash;&gt;-->
    <!--&lt;!&ndash;            <label id="sideBarControl" for="sideToggle">菜单</label>&ndash;&gt;-->
    <!--&lt;!&ndash;        </div>&ndash;&gt;-->

    <!--&lt;!&ndash;        <div class="sidebarControl" id="sideToggle">&ndash;&gt;-->
    <!--&lt;!&ndash;            <img src="img/siderbarControl.png">&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;            <div class="bar"></div>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;            <div class="bar"></div>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;            <div class="bar"></div>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;        </div>&ndash;&gt;-->
    <!--        <div class="main-title">行人重识别系统</div>-->
    <!--    </div>-->
    <!--    <input type="checkbox" id="sideToggle">-->

    <!--  侧边栏  -->
    <div class="sidebar">
      <div class="main-title">
        <div class="title-icon"></div>
        行人重识别系统
      </div>
      <div class="menu">
        <div class="menu-title">dataset:</div>
        <select>
          <option value="">请选择</option>
          <option value="market1501">market1501</option>
        </select>
      </div>

      <div class="menu">
        <div class="menu-title">gallery_num:</div>
        <select>
          <option value="">请选择</option>
          <option value="5">5</option>
          <option value="10">10</option>
        </select>
      </div>
    </div>
    <!--  内容  -->
    <div class="content" >
      <div class="wrapper">
        <div class="content-title">Query</div>
        <div class="img-wrapper">
          <div style="width: 100px">
            <input type="file" class="picUpload" id="input_img" />
            <img class="add-icon" src="img/plus.png" alt="" />
            <div class="add-text">上传图片</div>
          </div>
          <div id="show_img" class="img-list"></div>
        </div>
      </div>

      <div class="wrapper">
        <div class="content-title">Gallery</div>
        <div class="img-wrapper">
          <div style="width: 100px">
            <input type="file" class="picUpload" />
            <img class="add-icon" src="img/plus.png" alt="" />
            <div class="add-text">上传图片</div>
          </div>
          <div id="show_img" class="img-list"></div>
        </div>
      </div>

      <div class="wrapper">
        <h2>侧边栏</h2>
      </div>
    </div>

    <script src="./index_test.js"></script>
  </body>
</html>
